.App {
  text-align: center;
  align-items: center;
}

html {
  background-color: black;
}

.value {
  font-size: 30px;
  color: white;
  /* text-shadow: 1px 1px white; */
  user-select: none;
}

.passwordView {
  display: block;
  color: white;
  width: auto;
  padding: 50px;
  overflow-wrap: break-word;
  font-size: 60px;
  margin: auto;
}

.rangeslider-horizontal {
  margin-left: 30vw;
  margin-right: 30vw;
  height: 5px;
  width: 40vw;
  border-radius: 1px;
}

.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: gold;
  border: none;
  border-radius: 10px;
  top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: gold;
  border-radius: 15px;
  top: -50%;
  transform: translate3d(-50%, -50%, 0);
}

.rangeslider {
  margin: 5vh 0;
  position: relative;
  background: white;
  touch-action: none;
}

.rangeslider__handle-tooltip {
  display: none;
}

#digitsSymbolsInput {
  color: white;
}

#copyText {
  position: absolute;
  top: 50vh;
  width: 100vw;
  color: #d90291;
  font-size: 30px;
}

#notTheControlPanel {
  height: 75vh;
}

#theControlPanel {
  margin: auto;
  width: 40vw;
  height: 20vh;
  border: 2px solid red;
}
/* 
input[type="checkbox"] {
  display: none;
}
.label {
  display: inline-flex;
  align-items: center;
  float: right;
  text-align: right;
  height: 20px;
  width: 200px;
  font-size: 20px;
  padding: 3px;
  color: white;
  background: url("./icons/circle-empty.svg") no-repeat;
  background-position: left;
  user-select: none;
  border: 2px solid purple;
}
input[type="checkbox"]:checked + .label {
  background: url("./icons/circle-filled.svg") no-repeat;
  background-position: left;
  user-select: none;
} */

.container {
  color: white;
  display: block;
  position: relative;
  padding-left: 35px;
  text-align: left;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  display: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
